/* import the google fonts used in the website */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,900&family=Roboto+Slab:wght@600&display=swap');

/* the star means applies to all unless overwritten */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(40, 40, 255);
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: white;
}

/* below is all used in the header/ title */
h1 {
    font-family: 'Roboto Serif', serif;
    font-size: 160px;
    color: yellow;
}

.text-shadow {
    /* Google search gave me the idea for text shawdow below */
    text-shadow: 0.0px 10.0px 0.02px #000, 9.8px 2.1px 0.02px #000, 4.2px -9.1px 0.02px #000, -8.0px -6.0px 0.02px #000, -7.6px 6.5px 0.02px #000, 4.8px 8.8px 0.02px #000, 9.6px -2.8px 0.02px #000, -0.7px -10.0px 0.02px #000, -9.9px -1.5px 0.02px #000, -3.5px 9.4px 0.02px #000, 8.4px 5.4px 0.02px #000, 7.1px -7.0px 0.02px #000, -5.4px -8.4px 0.02px #000, -9.4px 3.5px 0.02px #000, 1.4px 9.9px 0.02px #000, 10.0px 0.8px 0.02px #000, 2.9px -9.6px 0.02px #000, -8.7px -4.8px 0.02px #000, -6.6px 7.5px 0.02px #000, 5.9px 8.0px 0.02px #000, 9.1px -4.1px 0.02px #000, -2.1px -9.8px 0.02px #000, -10.0px -0.1px 0.02px #000, -2.2px 9.8px 0.02px #000, 9.1px 4.2px 0.02px #000, 6.1px -8.0px 0.02px #000, -6.5px -7.6px 0.02px #000, -8.8px 4.7px 0.02px #000, 2.7px 9.6px 0.02px #000, 10.0px -0.6px 0.02px #000, 1.5px -9.9px 0.02px #000, -9.3px -3.6px 0.02px #000, -5.5px 8.4px 0.02px #000, 7.0px 7.2px 0.02px #000, 8.5px -5.3px 0.02px #000, -3.4px -9.4px 0.02px #000, -9.9px 1.3px 0.02px #000, -0.8px 10.0px 0.02px #000, 9.6px 2.9px 0.02px #000, 4.9px -8.7px 0.02px #000, -7.5px -6.7px 0.02px #000, -8.1px 5.9px 0.02px #000, 4.0px 9.2px 0.02px #000, 9.8px -2.0px 0.02px #000, 0.2px -10.0px 0.02px #000, -9.7px -2.3px 0.02px #000, -4.3px 9.0px 0.02px #000, 7.9px 6.1px 0.02px #000
}

/* applied to show as an indices ie smaller and at the top of the text before it */
#title-small-text {
    font-size: 22px;
    vertical-align: top;
    line-height: 140px;
}

#title-logo {
    height: 200px;
    width: 200px;
    border: 10px solid yellow;
    border-radius: 25px;
}

#header-description {
    margin: 0 5px;
}

#header-flex-container {
    margin: 30px 0;
}

/* Add flex box to main element and max width */

main {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

/* both panels will be same size as will be side by side on larger screen sizes */
#question-panel, #answer-panel {
    width: 310px;
    height: 520px;
    margin: 30px auto;
}

/* answer log panel styles */
#answer-log-panel {
    width: 95%;
    min-height: 100px;
    height: fit-content;
    margin: 20px auto;
    padding-bottom: 40px;
}

/* below will be mainly global settings used in each of the panels */
.padding-top-bottom {
    padding: 25px 0 25px;
}

.big-number {
    font-size: 180px;
    width: 190px;
    height: 210px;
    text-align: right;
}

.little-number {
    font-size: 70px;
    width: 80px;
    height: 100px;
    position: relative;
    top: -90px;
    left: -5px;
    text-align: left;
}

.big-number, .little-number {
    color: yellow;
    background-color: rgba(0, 0, 0, 0);
}

.sub-heading {
    font-size: 24px;
    color: yellow;
}

.center {
    align-items: center;
    padding: 110px 0;
}

.hide-me {
    color: yellow;
    visibility: hidden;
}

button {
    color: white;
    padding: 15px;
    margin: 0 5px;
    border-radius: 30px;
    font-size: 16px;
}

button:hover {
    color: yellow;
    border-color: yellow;
    padding: 20px;
    margin: -5px 0;
}


input {
    border-radius: 15px;
}

/* this is for final answer input box */

#final-answer-input {
    padding: 10px;
    margin: 10px auto;
    width: 95%;
    font-size: 24px;
}

/* below is the workings out panel styles */
#workings-out-panel {
    width: 95%;
    height: 550px;
    margin: 20px auto;
}

.workings-out-medium-size, .workings-out-multiply-sign {
    display: inline-block;
    font-size: 60px;
    margin: 0 12px;
}

.workings-out-medium-size, .workings-out-multiply-sign {
    display: inline-block;
    font-size: 60px;
    margin: 0 12px;
    color: yellow;
}

.workings-out-multiply-sign {
    margin: 0 47px;
}

.workings-out-previous-iteration-answer {
    display: flex;
    font-size: 20px;
    direction: rtl;
    width: 100%;
    padding: 15px 15px 0 0;
    color: yellow;
}

/* answers go in right to left as this is how sums are calculated */
#workings-out-input {
    width: 240px;
    height: 35px;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    margin: 40px 0 40px;
}

#workings-out-submit {
    margin-bottom: 30px;
}

#workings-out-scrolling-container {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
}

.workings-out-iteration-panel {
    width: 250px;
    min-width: 250px;
}

#workings-out-initial-panel {
    width: 304px;
    min-width: 304px;
}

#hint-p {
    margin: 15px;
}

/* below is for the answer log section */
.answer-log-iteration-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 40px 0;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.answer-log-scenario, .answer-log-scenario-answer, .answer-log-outcome {
    width: 220px;
    height: 200px;
}

.answer-log-correct, .answer-log-wrong {
    font-size: 80px;
    padding: 90px 0;
}

.answer-log-correct {
    color: rgb(0, 255, 0);
}

.answer-log-wrong {
    color: rgb(255, 0, 0);
}

.iteration-answer-log-smaller {
    font-size: 60px;
    padding: 10px 0;
}

.bg-removed {
    background-color: rgba(0, 0, 0, 0);
}

/* Footer section padding on the bottom for aesthetics */
footer {
    margin-bottom: 40px;
}

/* below is the syles for 404 page */
#oops-page-main {
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
}

#oops-page-main h3, #oops-page-main p {
    margin: 0 auto;
}

#oops-page-main p {
    color: yellow;
    font-size: 20px;
}

#redirect-home {
    text-decoration: none;
    font-size: 22px;
}

#redirect-home:hover {
    text-decoration: underline;
    font-size: 24px;
    color: yellow;
}

/* Below is the styles for new buttons created through javascript */
#refresh-answer-panel-btn {
    margin: 30px 5px;
}

#refresh-answer-panel-btn:hover {
    margin: 25px 5px;
}

/* Below is the media queries to add responsive designs for different screen sizes */
@media screen and (max-width: 630px) {
    #question-panel { order: 1; }
    #answer-panel { order: 3; }
    #workings-out-panel { order: 2; }
    #answer-log-panel { order: 4; }
    #workings-out-panel {
        height: 620px;
    }
}

/* Adds flex to header section above 630px size screens */
@media screen and (min-width: 630px) {
    #header-flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    h1, #title-logo {
        display: inline-block;
        margin: 0 20px;
    }
    #title-logo { order: 1;}
    h1 { order: 2; }
}

/* below media query gives main more width to reduce space at the sides on larger screens */
@media screen and (min-width: 920px) {
    main {
        max-width: 2300px;
        margin: 0 2%;
    }
    #question-panel {
        margin: 30px 90px 30px auto;
    }
    #answer-panel {
        margin: 30px auto 30px 90px;
    }
}